<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý chuyên ngành</title>
    <th:context th:replace="base :: boostrap"></th:context>
    <th:context th:replace="base :: resources"></th:context>
</head>
<body>
    <div th:replace="base :: header"></div>
    <div th:replace="base :: menu"></div>

    <main class="container">
        <h1 class="text-center text-info mt-4 mb-4">
            <span th:if="${major.majorId == null}">THÊM CHUYÊN NGÀNH</span>
            <span th:if="${major.majorId != null}">CẬP NHẬT CHUYÊN NGÀNH</span>
        </h1>

        <form th:action="@{/admin/majors/add}" method="post" th:object="${major}" class="p-4 shadow rounded bg-light">
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="majorName" placeholder="Tên chuyên ngành" th:field="*{majorName}" required />
                <label for="majorName">Tên chuyên ngành</label>
            </div>

            <input type="hidden" th:field="*{majorId}" />

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg">
                    <span th:if="${major.majorId == null}">Thêm chuyên ngành</span>
                    <span th:if="${major.majorId != null}">Cập nhật chuyên ngành</span>
                </button>
            </div>
        </form>
    </main>

    <div th:replace="base :: footer"></div>
</body>
</html>